table#cart-pole-observation-space-table {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 80% !important; /* fit-content */
}

td {
    padding-left: 10px;
    padding-right: 10px;
}